deps
*.log
*.log.1
*.log.fault
*.db
tts
.HA_VERSION
.storage
.sonoff.json
secrets*
__pycache__
custom_components
www
known_devices*
html5_push_registrations.conf
backups/
google_calendars.yaml
zigbee.db*
zigpy_ota
.vscode/settings.json
appdaemon/
scans
blueprints/

